<html>
  <head>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <title>{{pageTitle}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <style>
    body { margin: 0; font-family: "Roboto", sans-serif; color: #021632; }
    .main-container { height: 100vh; width: 100vw; background-color: #021632;
    display: flex; justify-content: center; } .contained { display: flex;
    flex-direction: column; width: 30%; height: fit-content; min-width: 20rem; }
    .card { height: 25rem; background-color: #e4ebf8; width: 100%; position:
    relative; box-sizing: border-box; padding: 1.5rem; display: flex;
    flex-direction: column; line-height: 2rem; height: fit-content; }
    .card-header { font-size: clamp(1vmin, 1.8rem, 2.5vmax); font-weight: 700; }
    .card-content { text-transform: capitalize; font-size: clamp(1.5vmin,
    1.6rem, 2vmax); padding: 3.5vmax 0rem; } .card-button { width: 15rem;
    height: 4rem; background: #21e6c1; color: #021632; font-size: 1.25rem;
    font-weight: 700; text-transform: uppercase; border-radius: 5px; align-self:
    center; border: 0; cursor: pointer; } .card-button:hover { background:
    #23d8b7; transition: all 150ms ease-in-out; } .card-footer { height: 1.5rem;
    width: 100%; position: absolute; left: 0; bottom: 0; } .outer-container {
    height: fit-content; width: 100%; display: flex; flex-direction: row;
    align-items: center; } .outer-container-image { width: 5rem; height: 5rem;
    color: #e4ebf8; } .outer-container-text { color: #e4ebf8; font-size:
    clamp(1.5vmin, 2rem, 2.5vmax); font-weight: 700; padding-top: 2.5rem;
    padding-bottom: 2.5rem; padding-left: 2.5rem; } @media (min-width: 820px) {
    .contained { min-width: 10rem; } } @media (min-width: 768px) { .contained {
    min-width: 30rem; } } @media (min-width: 375px) { .contained { min-width:
    10rem; } } @media (min-width: 280px) { .contained { min-width: 15rem; }
    .card { line-height: 1.5rem; } } @media (min-width: 414px) { .contained {
    min-width: 20rem; } .card { line-height: 1.5rem; } } .error {
    background-color: #FD5066; } .success { background-color: #21e6c1; }
    .error-shadow { box-shadow: 0 4px 20px 0 rgba(253, 80, 103, 0.5)}
    .success-shadow{ box-shadow: 0 4px 20px 0 rgba( 33, 230, 193, 0.5)}

  </style>
  <body>
    <div class="main-container">
      <div class="contained">
        <div class="outer-container">
          <img
            class="outer-container-img"
            src="/images/app-ico-image.png"
            alt="app-ico-image"
          />
          <div class="outer-container-text">{{appTitle}}</div>
        </div>
        <div class="card {{contentState}}-shadow">
          <div class="card-header">{{cardTitle}}</div>
          <div class="card-content">{{{cardContent}}}</div>
          {{!-- <button class="card-button">{{buttonText}}</button> --}}

          <div class="card-footer {{contentState}}"></div>

        </div>
      </div>
    </div>
  </body>
</html>